
.body-below-menu {
    margin: 0px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;

}
.page-container {
    background-color: white;
    position: relative;
    display: block;
    height: 95vh;
    width: 40vw;
    margin-left: 30vw;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px 10px;

}
.page {
    display: inline-block;
    margin-left: 8px;
    margin-top:8px;
    padding: 8px 6px;
    min-height: 95%;
    min-width: 95%;
    letter-spacing: 1.2px;
    max-width: 95%;
    resize: none;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
.side-bar-container {
    position: absolute;
    min-height: 100%;
    width: 15vw;
    background-color: rgba(235, 231, 231,0.6); 
    visibility: hidden;
    opacity: 0;
}
/*-----------------------------CLASS TO TOGGLE SIDE BAR------------------------------------------------------*/
.show-side-bar-container {
    visibility: visible;
    opacity: 1;
}
.highlight-page-icon {
    border: 1px solid transparent;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.8);
}
/*------------------------------------------------------------------------------------------------------------*/
.mock-page-container {
    width: 150px;
    margin-left: 10px;
    margin-top: 20px;
    display: block;
    
}
.mock-page {
    display: block;
    width: 100%;
    height: 30vh;
    background-color: white;
    border-radius: 5px;
    font-size: 7px;
    padding: 5px;
    outline: none;
    cursor:default;
    caret-color: transparent;
    resize:none;
}
.mock-page-attributes-container {
    display: inline-flex;
    flex-direction: row;
    width:163px;
    margin-left: 7px;
    margin-top:2px;
    align-items:flex-start;
    justify-content: space-between;
}

.number-page{
    margin: 0;
    margin-left: 2px;
}

.delete-icon-container {
    width: 10px;
} 

/* @media screen and (max-width:1024px) {
    .page-container{
        margin-left: 40vw;
    } 
    .page {
        margin-left: 6px;
    }
    .side-bar-container {
        width: 20vw;
    }
}

@media screen and (max-width:600px) {
    .page-container{
        width: 50vw;
        margin-left: 40vw;
    } 
    .page {
        margin-left: 6px;
    }
    .side-bar-container {
        width: 25vw;
        background-color: red;
    }
} */