.page {
    /* margin-left: 200px;
    margin-right: 100px;  */
    max-width: 800px;
    display: block;
    margin: auto auto;
    height: 75vh;
    background-color: white;
}
p {
    /* margin: 30px 20px; */
}