body {
    background-color:rgba(187, 185, 185,0.8) ;
    margin: 0;
    height: 100%;
    box-sizing: border-box; /*ensures padding is taken into consideration*/
    
}

html {
    /* height: 100%; */
}

